name: terraform-ci

on:
  push:
    branches:
      - dev
      - main
    paths:
      - "terraform_templates/test/**"

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v1
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform_templates/test
        run: terraform init

      - name: Terraform Plan (dev)
        if: github.ref == 'refs/heads/dev'
        working-directory: terraform_templates/test
        run: terraform plan

      - name: Terraform Apply (main)
        if: github.ref == 'refs/heads/main'
        working-directory: terraform_templates/test
        run: terraform apply -auto-approve
